.bg {
  /* The image used */
  background-image: url("gradient.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  padding: 10px;
  margin-top: 5px;
}

p {
  padding: 10px;
}
