.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.grid-item:hover {
  background-color: beige;
}
.grid-item {
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
  margin: 4px;
}

.home_content {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
  padding: 4px;
}
