.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

/*
.grid-item:hover {
  background-color: beige;
}*/
.grid-item {
  padding: 20px;
  /*border-radius: 12px;*/
  margin: 14px;
  /*border: 1px solid black;*/
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  /*box-shadow: 6px 6px 6px rgb(207, 207, 207);*/
}

.project_id {
  display: none;
}

/*
.grid-item:nth-child(even) {
  background: radial-gradient(#76b2fe, #b69efe);
}
.grid-item:nth-child(odd) {
  background: radial-gradient(#fbc1c1, #fa99f5);
}
.grid-item:nth-child(4) {
  background: radial-gradient(#f588d8, #c0a3e5);
}*/

.home_content {
  /*background-image: url("background.gif");*/
  background-color: ghostwhite;
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
  padding: 14px;
  border: none;
  border-radius: 8px;
  color: white;
  /*margin: 10px;*/
  margin-top: 10px;
  /*background-color: #32a852;*/
  width: 30%;
}

#createProjectBtn,
.updateBtn,
#submitReportBtn {
  background-color: #7a7a7a;
}

.connectBtn {
  background-color: #d3d3d3;
  font-size: 1em;
  border-radius: 1em;
  border-width: 2px;
  padding: 0.5em 1em;
  border: 2px solid black;
  color: black;
  outline: none;
  margin-left: 5px;
}

.delBtn {
  background-color: rgb(194, 48, 48);
}

.launchBtn {
  background-color: rgb(43, 107, 226);
}

textarea {
  width: 70%;
  padding: 5px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-connect,
.modal-report {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

/*
.modal {
  position: relative;
  background-color: white;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  border-radius: 12px;
}*/

.modal {
  position: relative;
  background-color: white;
  width: 50%;
  height: 70%;
  padding: 25px;
  border-radius: 12px;
}

.md-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
}
.modal-close-connect,
.modal-close-report {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
}

.modal-create {
  padding: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
