.grid-outer {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
  margin-top: 25px;
}

.head-marketplace {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 0;
  padding-left: 15px;
  color: #7a7a7a;
  position: relative;
}

.mkt-dashboard {
  color: #7a7a7a;
  padding-left: 15px;
  padding-right: 15px;
}

.mkt-dashboard p {
  padding-top: 12px;
  padding-bottom: 2px;
}
